.toast-container {
  position: relative;
  display: block;
}

.fade-in-enter {
  opacity: 0;
}
.fade-in-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-in-exit {
  opacity: 1;
}

.fade-in-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.toast-item {
  // position: relative;

  width: 100%;
  bottom: 0;
  margin: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: auto;
  bottom: 10px;
  // width: 100vw;
  z-index: 1700;
  overflow: visible;

  &-container {
    // @include flexbox(start);
    display: flex;
    align-items: start;
    justify-content: space-between;
    // @include shadow-level(shadow2);

    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.05);
    position: relative;
    margin: 0 20px;
    padding: 0 16px;
    min-height: 56px;
    border-radius: 12px;
    background-color: #000;
    opacity: 0.85;
    .svg-icon {
      font-size: 24px;
    }

    button {
      // @include text-variant(caption, $color-gray-120);
      // font-size: 14rem;
      // font-weight: 400;
      // line-height: 1.43;
      // margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: -0.2px;
      color: #787878;
      min-height: 56px;
    }
  }

  .toast-body {
    // @include text-variant(body4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: -0.25px;
    line-height: 1.33;
    min-height: 56px;
  }

  & {
    color: #292a2b;
  }

  &.ERROR {
    // color: $color-state-error;
    color: #fb5b5b;
  }

  &.SUCCESS {
    // color: $color-state-success;
    color: #fff;
  }
  &.fadeIn {
    animation: fadeIn 250ms cubic-bezier(0.45, 0, 0.55, 1);
  }
  &.fadeOut {
    animation: fadeOut 250ms cubic-bezier(0.45, 0, 0.55, 1);
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}
